{% extends  "accounts/wrapper.html" %}

{% block title %}Выход{% endblock %}

{% block main %}

<div class="parent">
  <p>Вы вышли из системы.&nbsp;</p>
  <p><a href="/accounts/login">Войти снова</a></p>
</div>


{% endblock %}
