{% extends "announcements/wrapper.html" %}

{% load staticfiles %}

{% block header %}
{{ user.first_name }}
{% endblock header %}


{% block main %}
<form class="" action="/announcements/add" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <th align = "right" valign = "top">
        {{ form.title.label }}
      </th>
      <td>
        {{ form.title }}
      </td>
    </tr>
    <tr>
      <th align = "right" valign = "top">
        Автор (Вы)
      </th>
      <td>
        {{ user.last_name }} {{ user.first_name }}
      </td>
    </tr>
    <tr>
      <th align = "right" valign = "top">
        {{ form.body.label }}
      </th>
      <td>
        {{ form.body }}
      </td>
    </tr>
  </table>
  <input type="submit" value="Сохранить"></input>
  <input type="reset" value="Очистить поля"></input>
  <input type="button" value="Вернуться" onclick="javascript:window.location='/announcements/'">
</form>
{% endblock main %}
