{% extends "announcements/wrapper.html" %}

{% load staticfiles %}

{% block header %}

{% endblock header %}


{% block main %}
<form class="" method="post" onsubmit = 'return OnSubmitForm();' name = 'edit'>
  {% csrf_token %}
  <table>
    <tr>
      <th align = "right" valign = "top">
        {{ form.title.label }}
      </th>
      <td>
        {{ form.title }}
      </td>
    </tr>
    <tr>
      <th align = "right" valign = "top">
        Автор
      </th>
      <td>
        {{ author }}
      </td>
    </tr>
    <tr>
      <th align = "right" valign = "top">
        {{ form.body.label }}
      </th>
      <td>
        {{ form.body }}
      </td>
    </tr>
  </table>
  {{ form.id }}
  <script>
    function OnSubmitForm() {
      if(document.pressed == 'Сохранить') {
        document.edit.action = "/announcements/edit";
      }
      else if(document.pressed == 'Удалить') {
        document.edit.action = "/announcements/delete";
      }
      return true;
    }
  </script>
  <input type="submit" name="Operation" onclick="document.pressed = this.value" value="Сохранить"></input>
  <input type="reset" value="Очистить поля"></input>
  <input type="button" value="Вернуться" onclick="javascript:window.location='/announcements/'">
  <input type="submit"  onclick="if(confirm('Удалить объявление?')){document.pressed = this.value;};" name="Operation" value="Удалить"></input>
</form>
{% endblock main %}
