<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'announcements/style.css' %}" type="text/css">
  </head>
  <body>
    <div class="header" style="">
      <div class="left" style="">
        <ul class = "mainmenuul">
          {% load menubuilder %}

          {% menu mainmenu %}

          {% for item in menuitems %}
          <li {% if item.current %}style="font-weight: bold"{% endif %} class = "mainmenuli">
            <a class = "mainmenuitem" href="{{ item.url }}" title="{{ item.title|escape }}">{{ item.title }}</a>
          </li>
          {% endfor %}
          <li style="font-weight: bold; float: right;" class = "mainmenuli"><a class = "mainmenuitem" href="/accounts/logout/" title="{{ item.title|escape }}">Выход</a></li>
          <li style="float: right;" class = "mainmenuli"><a class = "mainmenuitem" href="" title=""><i>{{user.first_name }} {{user.last_name }}</i></a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <h1>{{ title }}</h1>
      {% block main %}

      {% endblock main %}
    </div>
  </body>
</html>
