{% extends "users/wrapper.html" %}

{% load staticfiles %}



{% block main %}
<ul>
  <li><a href="./staff">Сотрудники</a></li>
  <li><a href="./students">Ученики</a></li>
  <!-- <li><a href="./parents">Родители</a></li> -->
</ul>
{% endblock main %}
