body {
  background-color: #cccccc;
  margin: 0;
  font-family: Verdana;
  font-size: 12pt;
}
table {
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  border: 1px solid black; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
  width: 100%;
}
th {
  height: 35px;
  background-color: #b3b3b3;
  border: 1px solid black;
}
td {
  vertical-align: top;
  border: 1px solid black;
}
.row:hover
{
    background-color: #b3b3b3;
}
/*Стили верхнего меню*/
.menuul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0px; /*убираем отступы*/
  margin-top: 0; /*делаем отступ сверху*/
  background:#b3b3b3; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 30px; /*задаем высоту*/
}
.menua {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#b3b3b3; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color: black; /*меняем цвет ссылок*/
  padding :0px 7px; /*добавляем отступ*/
  /*font-family: arial; меняем шрифт*/
  line-height: 30px; /*ровняем меню по вертикали*/
  display: block;
}
.menuli {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}


/*Стили основной части*/
.main{
  margin: 7px;
}
.form{
  text-align: left;
  vertical-align: bottom;
}


.mainmenuul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0px; /*убираем отступы*/
  margin-top: 0; /*делаем отступ сверху*/
  background:#b3b3b3; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 30px; /*задаем высоту*/
}
.mainmenuitem {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#b3b3b3; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color: black; /*меняем цвет ссылок*/
  padding :0px 7px; /*добавляем отступ*/
  /*font-family: arial; меняем шрифт*/
  line-height: 30px; /*ровняем меню по вертикали*/
  display: block;
}
.mainmenuli {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}
