{% extends "marks/wrapper.html" %}

{% load staticfiles %}



{% block main %}
<form class="" action="/markbook/results/edit/" method="post">
  {% csrf_token %}
  <table style = "width: auto; border: 0">
    <tr>
      <td style = "border: 0"><b>Ученик</b></td>
      <td style = "border: 0"><b>Оценка</b></td>
    </tr>
    {% for result in results %}
    <tr>
      <td style = "border: 0">{{ result.1 }}</td>
      <td style = "border: 0"><input type="text" name="{{ result.0 }}" value="{{ result.2}}" size = '1'></td>
    </tr>
    {% endfor %}
  </table>
  <input type="hidden" name="markbook" value="{{ markbook }}">
  <input type="submit" name="submit" value="Сохранить и вернуться">
</form>
{% endblock main %}
